<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
from openedx.core.djangolib.js_utils import (
      dump_js_escaped_json
  )
%>

<%inherit file="base.html" />
<%namespace name='static' file='static_content.html'/>
<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
</%block>

<%block name="content">
<style>


.layerPopupArea{position: absolute; z-index: 999; top: 100px; left: 100px;}
.layerPupup{
    z-index: 10010;
	display: none;
	border: 0px solid #fff;
	opacity: 1;
	background: #ffffff;
	font-size: 13px;
    line-height: 25px;
	padding: 5px;
	box-shadow: 0 2px 5px 3px #444444;
	margin: 3px;
	float: left;
}

</style>
<div id="layerPopupArea" class="layerPopupArea" style="">

    <!--popup K-mooc(1)-->
    <div id="popupWrap_1" class="layerPupup">
        <p style="text-align: left; font-weight: bold; margin-top: 5px;">
            <a href="http://www.kmooc.kr/comm_view/N/1/245" target="_sub">
            <img src="http://www.kmooc.kr/asset-v1:KMOOC+DEMOk+2015_1+type@asset+block@ppp.png" alt="2018" style="max-width: 800px;" />
            </a>
        </p>

        <!-- close area -->
        <div style="text-align: right; display: {{ 'none' if LANG == 'en' else 'block' }};">
            <label onclick="closeWin1();">
                <input id="chkbox_1" name="chkbox_1" type="checkbox" style="vertical-align: middle;">
                <span style="font-style:normal; font-size:13px;"><b>${'Close this window for next 24 hours' if LANG == 'en' else '다시 열지 않음'} &nbsp;&nbsp;</b></span>
            </label>

            <span><a href="javascript:popClose('popupWrap_1');" title="닫기">[ ${'close' if LANG == 'en' else '닫기'} ]</a></span>
        </div>
    </div>

    <!--popup K-mooc(2)-->
    <div id="popupWrap_2" class="layerPupup">
        <p style="text-align: left; font-weight: bold; margin-top: 5px; display: {{ 'none' if LANG == 'en' else 'block' }};">
            <a href="http://www.kmooc.kr/comm_view/N/1/246" target="_sub">
            <img src="http://www.kmooc.kr/asset-v1:KMOOC+DEMOk+2015_1+type@asset+block@ppp2.PNG" alt="2018" style="max-width: 800px; width:465px;" />
            </a>
        </p>

        <div style="text-align: right; display: {{ 'none' if LANG == 'en' else 'block' }};">
            <label onclick="closeWin2();">
                <input id="chkbox_2" name="chkbox_2" type="checkbox" style="vertical-align: middle;">
                <span style="font-style:normal; font-size:13px;"><b>${'Close this window for next 24 hours' if LANG == 'en' else '다시 열지 않음'} &nbsp;&nbsp;</b></span>
            </label>

            <span><a href="javascript:popClose('popupWrap_2');" title="닫기">[ ${'close' if LANG == 'en' else '닫기'} ]</a></span>
        </div>
    </div>
</div>

<script language="Javascript">
function popClose(id){
    $("#" + id).hide();
}

function setCookie1( name, value, expiredays ) {
    var todayDate = new Date();
    todayDate.setDate( todayDate.getDate() + expiredays );
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}

function closeWin1() {
    if ($("#chkbox_1").is(":checked")){
        setCookie1( "popupdiv1", "done" , 3 );
    }
    document.all['popupWrap_1'].style.display = "none";
}

function closeWin2() {
    if ($("#chkbox_2").is(":checked")){
        setCookie1( "popupdiv2", "done" , 1 );
    }
    document.all['popupWrap_2'].style.display = "none";
}

cookiedata = document.cookie;

popupDate = new Date();
targetDate = new Date(2018, 1, 5);
targetDate2 = new Date(2018, 1, 5);


console.log('>>>>>>>>>>>> ' + cookiedata.indexOf("popupdiv1=done") + ":" + popupDate.getFullYear() + ":" + popupDate.getMonth() + ":" + popupDate.getDate() + ":" + popupDate.getHours());

if (
        (cookiedata.indexOf("popupdiv1=done") < 0 ) && (
        (popupDate < targetDate)
        )
   )
    {

    if('{{ LANG }}' == 'en')
        document.all['popupWrap_1'].style.display = "none";
    else
        document.all['popupWrap_1'].style.display = "block";

    //console.log(popupDate.getFullYear() + ":" + popupDate.getMonth() + ":" + popupDate.getDate());

} else {
    document.all['popupWrap_1'].style.display = "none";
}

if (
        (cookiedata.indexOf("popupdiv2=done") < 0 ) && (
        (popupDate < targetDate2)
        )
   )
    {

    if('{{ LANG }}' == 'en')
        document.all['popupWrap_2'].style.display = "none";
    else
        document.all['popupWrap_2'].style.display = "block";

} else {
    document.all['popupWrap_2'].style.display = "none";
}

</script>

<div class="wrapper-mast wrapper">
  <header class="mast has-actions">
    <h1 class="page-header">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</h1>

    % if user.is_active:
    <nav class="nav-actions" aria-label="${_('Page Actions')}">
      <h3 class="sr">${_("Page Actions")}</h3>
      <ul>
        <li class="nav-item">
          % if course_creator_status=='granted':
          <a href="#" class="button new-button new-course-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span>
              ${_("New Course")}</a>
          % elif course_creator_status=='disallowed_for_this_site' and settings.FEATURES.get('STUDIO_REQUEST_EMAIL',''):
          <a href="mailto:${settings.FEATURES.get('STUDIO_REQUEST_EMAIL','')}">${_("Email staff to create course")}</a>
          % endif
          % if show_new_library_button:
            <a href="#" class="button new-button new-library-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span>
            ${_("New Library")}</a>
          % endif
        </li>
      </ul>
    </nav>
    % endif
  </header>
</div>

<div class="wrapper-content wrapper">
  % if user.is_active:
  <section class="content">
    <article class="content-primary" role="main">

      % if course_creator_status=='granted':
      <div class="wrapper-create-element wrapper-create-course">
        <form class="form-create create-course course-info" id="create-course-form" name="create-course-form">
          <div class="wrap-error">
            <div id="course_creation_error" name="course_creation_error" class="message message-status message-status error" role="alert">
            <p>${_("Please correct the highlighted fields below.")}</p>
            </div>
          </div>

          <div class="wrapper-form">
            <h3 class="title">${_("Create a New Course")}</h3>

            <fieldset>
              <legend class="sr">${_("Required Information to Create a New Course")}</legend>

              <ol class="list-input">
                <li class="field text required" id="field-course-name">
                  <label for="new-course-name">${_("Course Name")}</label>
                  ## Translators: This is an example name for a new course, seen when
                  ## filling out the form to create a new course.
                  <input class="new-course-name" id="new-course-name" type="text" name="new-course-name" required placeholder="${_('e.g. Introduction to Computer Science')}" aria-describedby="tip-new-course-name tip-error-new-course-name" />
                  <span class="tip" id="tip-new-course-name">${_("The public display name for your course. This cannot be changed, but you can set a different display name in Advanced Settings later.")}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-name"></span>
                </li>
                <li class="field text required">
                  <label for="new-course-org">${_("Organization")}</label>
                  ## Translators: This is an example for the name of the organization sponsoring a course, seen when filling out the form to create a new course. The organization name cannot contain spaces.
                  ## Translators: "e.g. UniversityX or OrganizationX" is a placeholder displayed when user put no data into this field.
                  <!--<input class="new-course-org" id="new-course-org" type="text" name="new-course-org" required placeholder="${_('e.g. UniversityX or OrganizationX')}" aria-describedby="tip-new-course-org tip-error-new-course-org" />-->
                  <select class="new-course-org" id="new-course-org" name="new-course-org" onchange="check_2level();">
                    <option value="">대학선택</option>
                    %for code, name in org_list :
                        <option value="${code}">${name}(${code})</option>
                    %endfor
                  </select>
                  <span class="tip" id="tip-new-course-org">${Text(_("The name of the organization sponsoring the course. {strong_start}Note: The organization name is part of the course URL.{strong_end} This cannot be changed, but you can set a different display name in Advanced Settings later.")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-org"></span>
                </li>

                <li class="field text required" id="field-course-number">
                  <label for="new-course-number">${_("Course Number")}</label>
                  ## Translators: This is an example for the number used to identify a course,
                  ## seen when filling out the form to create a new course. The number here is
                  ## short for "Computer Science 101". It can contain letters but cannot contain spaces.
                  <input class="new-course-number" id="new-course-number" type="text" name="new-course-number" required placeholder="${_('e.g. CS101')}" aria-describedby="tip-new-course-number tip-error-new-course-number" />
                  <span class="tip" id="tip-new-course-number">${Text(_("The unique number that identifies your course within your organization. {strong_start}Note: This is part of your course URL, so no spaces or special characters are allowed and it cannot be changed.{strong_end}")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-number"></span>
                </li>

                <li class="field text required" id="field-course-run">
                  <label for="new-course-run">${_("Course Run")}</label>
                  ## Translators: This is an example for the "run" used to identify different
                  ## instances of a course, seen when filling out the form to create a new course.
                  <input class="new-course-run" id="new-course-run" type="text" name="new-course-run" required placeholder="${_('e.g. 2014_T1')}" aria-describedby="tip-new-course-run tip-error-new-course-run" />
                  <span class="tip" id="tip-new-course-run">${Text(_("The term in which your course will run. {strong_start}Note: This is part of your course URL, so no spaces or special characters are allowed and it cannot be changed.{strong_end}")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-course-run"></span>
                </li>
                <li class="field select required" id="field-classfy">
                    <label for="new-course-classfy">${_("Classification")}</label>
                    <select class="new-course-classfy" id="new-course-classfy" name="new-course-classfy"  onchange="middle_classfy(0)">
                        <option value="">대분류 선택</option>
                        <option value="hum">인문계열</option>
                        <option value="social">사회계열</option>
                        <option value="edu">교육계열</option>
                        <option value="eng">공학계열</option>
                        <option value="nat">자연계열</option>
                        <option value="med">의약계열</option>
                        <option value="art">예체능계열</option>
                        <option value="intd">융ㆍ복합계열</option>
                    </select>

                    <span class="tip tip-error is-hiding" id="tip-error-new-course-classfy"></span>

                    <select class="new-course-middle-classfy" id="new-course-middle-classfy" name="new-course-middle-classfy" onchange="middle_classfy_sub(1)">
                        <option value="">중분류 선택</option>
                    </select>
                    <br>
                    <select class="new-course-classfy-sub1" id="new-course-classfy-sub1" name="new-course-classfy-sub1" style="visibility: hidden"  onchange="middle_classfy(1)">
                        <option value="">주 대분류 선택</option>
                        <option value="hum">인문계열</option>
                        <option value="social">사회계열</option>
                        <option value="edu">교육계열</option>
                        <option value="eng">공학계열</option>
                        <option value="nat">자연계열</option>
                        <option value="med">의약계열</option>
                        <option value="art">예체능계열</option>
                        <option value="intd">융ㆍ복합계열</option>
                    </select>

                    <select class="new-course-middle-classfy-sub1" id="new-course-middle-classfy-sub1" name="new-course-middle-classfy-sub1" style="visibility: hidden" onchange="middle_classfy_sub(2)">
                        <option value="">융합 분류 선택1</option>
                    </select>

                    <select class="new-course-classfy-sub2" id="new-course-classfy-sub2" name="new-course-classfy-sub2" style="visibility: hidden" onchange="middle_classfy(2)">
                        <option value="">보조 대분류 선택</option>
                        <option value="hum">인문계열</option>
                        <option value="social">사회계열</option>
                        <option value="edu">교육계열</option>
                        <option value="eng">공학계열</option>
                        <option value="nat">자연계열</option>
                        <option value="med">의약계열</option>
                        <option value="art">예체능계열</option>
                    </select>

                    <select class="new-course-middle-classfy-sub2" id="new-course-middle-classfy-sub2" name="new-course-middle-classfy-sub2" style="visibility: hidden" onchange="middle_classfy_sub(3)">
                        <option value="">융합 분류 선택2</option>
                    </select>

                    <select class="new-course-classfy-sub3" id="new-course-classfy-sub3" name="new-course-classfy-sub3" style="visibility: hidden" onchange="middle_classfy(3)">
                        <option value="">보조 대분류 선택</option>
                        <option value="hum">인문계열</option>
                        <option value="social">사회계열</option>
                        <option value="edu">교육계열</option>
                        <option value="eng">공학계열</option>
                        <option value="nat">자연계열</option>
                        <option value="med">의약계열</option>
                        <option value="art">예체능계열</option>
                    </select>

                    <select class="new-course-middle-classfy-sub3" id="new-course-middle-classfy-sub3" name="new-course-middle-classfy-sub3" style="visibility: hidden">
                        <option value="">융합 분류 선택3</option>
                    </select>
                    <input class="new-course-org" id="new-course-classfy-sub" type="hidden" name=new-course-classfy-sub" aria-describedby="tip-new-course-org tip-error-new-course-org" />
                    <input class="new-course-org" id="new-course-middle-classfy-sub" type="hidden" name=new-course-middle-classfy-sub" aria-describedby="tip-new-course-org tip-error-new-course-org" />
                    <span class="tip" id="tip-new-course-classfy">선정평가 시 사업계획서에 기재한 전공을 선택하여 주시기 바랍니다. 선택한 전공은 이후 변경할 수 없습니다.</span>
                    <span class="tip tip-error is-hiding" id="tip-error-new-course-category"></span>

                </li>


                <li class="field select required" id="field-category">
                    <label for="new-course-">${_("Linguistics")}</label>
                    <select class="new-course-linguistics" id="new-course-linguistics" name="new-course-linguistics">
                        <option value="">한국학여부 선택</option>
                        <option value="Y">한국학</option>
                        <option value="N">그외</option>
                    </select>
                    <span class="tip" id="tip-new-course-linguistics">'한국' 관련 강좌의 경우 한국학을 선택하여 주시기 바랍니다.</span>
                    <span class="tip tip-error is-hiding" id="tip-error-new-course-linguistics"></span>
                </li>

                <li class="field select required" id="field-category" style="display: none">
                    <label for="new-course-">${_("Period of Studing")}</label>
                    <select class="new-course-period" id="new-course-period" name="new-course-period">
                        <option value=" ">학습기간 선택</option>
                        <option value="S">단기(1~6 weeks)</option>
                        <option value="M">중기(7~12 weeks)</option>
                        <option value="L">장기(over 13 weeks)</option>
                   </select>
                    <span class="tip" id="tip-new-course-period">강좌의 주차를 기준으로 학습기간(단기/중기/장기)을 선택하여 주시기 바랍니다.</span>
                    <span class="tip tip-error is-hiding" id="tip-error-new-course-category"></span>
                </li>
              </ol>

            </fieldset>
          </div>

          <div class="actions">
            <input type="hidden" value="${allow_unicode_course_id}" class="allow-unicode-course-id" />
            <input type="submit" value="${_('Create')}" class="action action-primary new-course-save" />
            <input type="button" value="${_('Cancel')}" class="action action-secondary action-cancel new-course-cancel" />
          </div>
        </form>
      </div>
      <script type="text/javascript">
          var check_2level = function(){
              var level_1 = document.getElementById("new-course-org").options[document.getElementById("new-course-org").selectedIndex].value;
              var level_2 = $('#new-course-number').val();
              $.ajax({
                    url: '/level_Verifi/',
                    data: {
                        level_1: level_1,
                        level_2: level_2
                }
                }).done(function (data) {
                    if(data != '0') {
                        console.log('입력불가능함!');
                        $('#new-course-org').parent().attr("class","field text required error");
                        $('#new-course-number').parent().attr("class","field text required error");
                        $('#tip-error-new-course-org').text('기관번호+강좌번호 중복입니다.');
                        $('#tip-error-new-course-number').text('기관번호+강좌번호 중복입니다.');
                    }
                    else {
                        $('#new-course-org').parent().attr("class","field text required");
                        $('#new-course-number').parent().attr("class","field text required");
                    }
                });
          };

          var bcate = [
                {'category':
                        {'code': 'hum', 'gettext': '인문계열'}

                },
                {'category':
                        {'code': 'social', 'gettext': '사회계열'}
                },
                {'category':
                        {'code': 'edu', 'gettext': '교육계열'}
                },
                {'category':
                        {'code': 'eng', 'gettext': '공학계열'}
                },
                {'category':
                        {'code': 'nat', 'gettext': '자연계열'}
                },
                {'category':
                        {'code': 'med', 'gettext': '의약계열'}
                },
                {'category':
                        {'code': 'art', 'gettext': '예체능계'}
                },
                {'category':
                        {'code': 'intd', 'gettext': '융ㆍ복합'}
                },
        ];

        var mcate = {
                'hum':[
                                {'gettext': '언어ㆍ문학', 'code': 'lang'},
                                {'gettext': '인문과학', 'code': 'husc'}
                        ],
                'social':[
                                {'gettext': '경영ㆍ경제', 'code': 'busn'},
                                {'gettext': '법률', 'code': 'law'},
                                {'gettext': '사회과학', 'code': 'scsc'}
                        ],
                'edu':[
                                {'gettext': '교육일반', 'code': 'enor'},
                                {'gettext': '유아교육', 'code': 'ekid'},
                                {'gettext': '특수교육', 'code': 'espc'},
                                {'gettext': '초등교육', 'code': 'elmt'},
                                {'gettext': '중등교육', 'code': 'emdd'}
                        ],
                'eng':[
                                {'gettext': '건축', 'code': 'cons'},
                                {'gettext': '토목ㆍ도시', 'code': 'civi'},
                                {'gettext': '교통ㆍ운송', 'code': 'traf'},
                                {'gettext': '기계ㆍ금속', 'code': 'mach'},
                                {'gettext': '전기ㆍ전자', 'code': 'elec'},
                                {'gettext': '정밀ㆍ에너지', 'code': 'deta'},
                                {'gettext': '소재ㆍ재료', 'code': 'matr'},
                                {'gettext': '컴퓨터ㆍ통신', 'code': 'comp'},
                                {'gettext': '산업', 'code': 'indu'},
                                {'gettext': '화공', 'code': 'cami'},
                                {'gettext': '기타', 'code': 'other'}
                        ],
                'nat':[
                                {'gettext': '농림ㆍ수산', 'code': 'agri'},
                                {'gettext': '생물ㆍ화학ㆍ환경', 'code': 'bio'},
                                {'gettext': '생활과학', 'code': 'life'},
                                {'gettext': '수학ㆍ물리ㆍ천문ㆍ지리', 'code': 'math'}
                        ],
                'med':[
                                {'gettext': '의료', 'code': 'metr'},
                                {'gettext': '간호', 'code': 'nurs'},
                                {'gettext': '약학', 'code': 'phar'},
                                {'gettext': '치료ㆍ보건', 'code': 'heal'}
                        ],
                'art':[
                                {'gettext': '디자인', 'code': 'dsgn'},
                                {'gettext': '응용예술','code': 'appl'},
                                {'gettext': '무용ㆍ체육','code': 'danc'},
                                {'gettext': '미술ㆍ조형', 'code': 'form'},
                                {'gettext': '연극ㆍ영화', 'code': 'play'},
                                {'gettext': '음악', 'code': 'musc'},
                        ],
                'intd':[
                                {'gettext': '융ㆍ복합', 'code': 'intd_m'},
                        ]
        };

        var middle_classfy = function(p){
            var bcate_val;
            var middle_classfy_id;
            if (p == 0) {
                bcate_val = document.getElementById("new-course-classfy").options[document.getElementById("new-course-classfy").selectedIndex].value;
                middle_classfy_sub_init(0);
                middle_classfy_id = document.getElementById("new-course-middle-classfy");
            } else if (p==1) {
                  bcate_val = document.getElementById("new-course-classfy-sub1").options[document.getElementById("new-course-classfy-sub1").selectedIndex].value;
                  middle_classfy_id = document.getElementById("new-course-middle-classfy-sub1");
            } else if (p==2) {
                  bcate_val = document.getElementById("new-course-classfy-sub2").options[document.getElementById("new-course-classfy-sub2").selectedIndex].value;
                  middle_classfy_id = document.getElementById("new-course-middle-classfy-sub2");
            } else if (p==3) {
                  bcate_val = document.getElementById("new-course-classfy-sub3").options[document.getElementById("new-course-classfy-sub3").selectedIndex].value;
                  middle_classfy_id = document.getElementById("new-course-middle-classfy-sub3");
            }
            //console.log("--------------------------------------------");
            //console.log("bcate selected : "+bcate_val);
            //console.log("--------------------------------------------");
            console.log("-----------------")
            console.log(middle_classfy_id)
            console.log("-----------------")

            removeOptions(middle_classfy_id);
            input_middle_classfy(middle_classfy_id, bcate_val);
        }

        var input_middle_classfy = function(selectbox, m_info){

            var option = document.createElement("option");
            option.text = "중분류 선택";
            option.value = null;

            selectbox.appendChild(option);

            for(key in mcate[m_info]){
                var row = mcate[m_info][key];
                var option = document.createElement("option");
                option.text = row.gettext;
                option.value = row.code;
                selectbox.appendChild(option);

            }
        }


        var middle_classfy_sub_init = function(p) {
            var middle_classfy_sub_id;
            if(p==0){
                document.getElementById("new-course-classfy-sub1").style.visibility = "hidden";
                document.getElementById("new-course-classfy-sub2").style.visibility = "hidden";
                document.getElementById("new-course-classfy-sub3").style.visibility = "hidden";
                document.getElementById("new-course-middle-classfy-sub1").style.visibility = "hidden";
                document.getElementById("new-course-middle-classfy-sub2").style.visibility = "hidden";
                document.getElementById("new-course-middle-classfy-sub3").style.visibility = "hidden";
                middle_classfy_sub_id = document.getElementById("new-course-middle-classfy-sub1");
                removeOptions(middle_classfy_sub_id);
                middle_classfy_sub_id = document.getElementById("new-course-middle-classfy-sub2");
                removeOptions(middle_classfy_sub_id);
                middle_classfy_sub_id = document.getElementById("new-course-middle-classfy-sub3");
                removeOptions(middle_classfy_sub_id);
            } else if (p == 1) {
                document.getElementById("new-course-classfy-sub1").style.visibility = "visible";
                document.getElementById("new-course-middle-classfy-sub1").style.visibility = "visible";
            } else if (p == 2) {
                document.getElementById("new-course-classfy-sub2").style.visibility = "visible";
                document.getElementById("new-course-middle-classfy-sub2").style.visibility = "visible";
            } else if (p == 3) {
                document.getElementById("new-course-classfy-sub3").style.visibility = "visible";
                document.getElementById("new-course-middle-classfy-sub3").style.visibility = "visible";
            }
        }

        var middle_classfy_sub = function(p) {
            var mcate_val = document.getElementById("new-course-middle-classfy").options[document.getElementById("new-course-middle-classfy").selectedIndex].value;
            var key = 0;
            var middle_classfy_sub_id;
            if (mcate_val != 'intd_m') return;
            if (p == 1) {
                middle_classfy_sub_id = document.getElementById("new-course-middle-classfy-sub1");
                middle_classfy_sub_init(1);
            } else if (p == 2) {
                middle_classfy_sub_id = document.getElementById("new-course-middle-classfy-sub2");
                middle_classfy_sub_init(2);
            } else if (p == 3){
                middle_classfy_sub_id = document.getElementById("new-course-middle-classfy-sub3");
                middle_classfy_sub_init(3);
            } else {
                middle_classfy_sub_id = null;
            }
            removeOptions(middle_classfy_sub_id);
            input_middle_classfy_sub(middle_classfy_sub_id, mcate_val);
        }
        var input_middle_classfy_sub = function(selectbox, m_info){
            var option = document.createElement("option");
            option.text = "중분류 선택";
            option.value = null;
            selectbox.appendChild(option);
            for(key in mcate[m_info]){
                var row = scate[m_info][key];
                var option = document.createElement("option");
                option.text = row.gettext;
                option.value = row.code;
                selectbox.appendChild(option);
            }
        }

        var removeOptions = function(selectbox){
            var i;
            for(i=selectbox.options.length-1;i>=0;i--){
                selectbox.remove(i);
            }
        }

      </script>
      % endif

      %if libraries_enabled and show_new_library_button:
      <div class="wrapper-create-element wrapper-create-library">
        <form class="form-create create-library library-info" id="create-library-form" name="create-library-form">
          <div class="wrap-error">
            <div id="library_creation_error" name="library_creation_error" class="message message-status message-status error" role="alert">
            <p>${_("Please correct the highlighted fields below.")}</p>
            </div>
          </div>

          <div class="wrapper-form">
            <h3 class="title">${_("Create a New Library")}</h3>

            <fieldset>
              <legend class="sr">${_("Required Information to Create a New Library")}</legend>

              <ol class="list-input">
                <li class="field text required" id="field-library-name">
                  <label for="new-library-name">${_("Library Name")}</label>
                  ## Translators: This is an example name for a new content library, seen when
                  ## filling out the form to create a new library.
                  ## (A library is a collection of content or problems.)
                  <input class="new-library-name" id="new-library-name" type="text" name="new-library-name" required placeholder="${_('e.g. Computer Science Problems')}" aria-describedby="tip-new-library-name tip-error-new-library-name" />
                  <span class="tip" id="tip-new-library-name">${_("The public display name for your library.")}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-library-name"></span>
                </li>
                <li class="field text required">
                  <label for="new-library-org">${_("Organization")}</label>
                  <input class="new-library-org" id="new-library-org" type="text" name="new-library-org" required placeholder="${_('e.g. UniversityX or OrganizationX')}" aria-describedby="tip-new-library-org tip-error-new-library-org" />
                  <span class="tip" id="tip-new-library-org">${_("The public organization name for your library.")} ${_("This cannot be changed.")}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-library-org"></span>
                </li>

                <li class="field text required" id="field-library-number">
                  <label for="new-library-number">${_("Library Code")}</label>
                  ## Translators: This is an example for the "code" used to identify a library,
                  ## seen when filling out the form to create a new library. This example is short
                  ## for "Computer Science Problems". The example number may contain letters
                  ## but must not contain spaces.
                  <input class="new-library-number" id="new-library-number" type="text" name="new-library-number" required placeholder="${_('e.g. CSPROB')}" aria-describedby="tip-new-library-number tip-error-new-library-number" />
                  <span class="tip" id="tip-new-library-number">${Text(_("The unique code that identifies this library. {strong_start}Note: This is part of your library URL, so no spaces or special characters are allowed.{strong_end} This cannot be changed.")).format(
                      strong_start=HTML('<strong>'),
                      strong_end=HTML('</strong>'),
                  )}</span>
                  <span class="tip tip-error is-hiding" id="tip-error-new-library-number"></span>
                </li>
              </ol>

            </fieldset>
          </div>

          <div class="actions">
            <input type="hidden" value="${allow_unicode_course_id}" class="allow-unicode-course-id" />
            <input type="submit" value="${_('Create')}" class="action action-primary new-library-save" />
            <input type="button" value="${_('Cancel')}" class="action action-secondary action-cancel new-library-cancel" />
          </div>
        </form>
      </div>
      % endif

      %if optimization_enabled:
      <div class="optimization-form">
        <h2 class="title title-3">${_("Organization and Library Settings")}</h2>
        <form class="form" action="/home/" method="GET">
          <fieldset class="form-group">
            <div class="field">
              <label class="field-label">${_("Show all courses in organization:")}
                <input class="field-input input-text" type="text" name="org"
                       placeholder="${_('For example, MITx')}"/>
              </label>
            </div>
          </fieldset>
          <div class="form-actions">
              <button class="btn-brand btn-base" type="submit">${_("Submit")}</button>
          </div>
        </form>
      </div>
      %endif

      <!-- STATE: processing courses -->
      %if allow_course_reruns and rerun_creator_status and len(in_process_course_actions) > 0:
      <div class="courses courses-processing">
          <h3 class="title">${_("Courses Being Processed")}</h3>

          <ul class="list-courses">
            %for course_info in sorted(in_process_course_actions, key=lambda s: s['display_name'].lower() if s['display_name'] is not None else ''):
            <!-- STATE: re-run is processing -->
            %if course_info['is_in_progress']:
            <li class="wrapper-course has-status" data-course-key="${course_info['course_key']}">
              <div class="course-item course-rerun is-processing">
                <div class="course-details" href="#">
                  <h3 class="course-title">${course_info['display_name']}</h3>

                  <div class="course-metadata">
                    <span class="course-org metadata-item">
                      <span class="label">${_("Organization:")}</span> <span class="value">${course_info['org']}</span>
                    </span>
                    <span class="course-num metadata-item">
                      <span class="label">${_("Course Number:")}</span>
                      <span class="value">${course_info['number']}</span>
                    </span>
                    <span class="course-run metadata-item">
                      <span class="label">${_("Course Run:")}</span> <span class="value">${course_info['run']}</span>
                    </span>
                  </div>
                </div>

                <dl class="course-status">
                  <dt class="label sr">${_("This course run is currently being created.")}</dt>
                  <dd class="value">
                    <span class="icon fa fa-refresh fa-spin" aria-hidden="true"></span>
                    ## Translators: This is a status message, used to inform the user of
                    ## what the system is doing. This status means that the user has
                    ## requested to re-run an existing course, and the system is currently
                    ## in the process of duplicating and configuring the existing course
                    ## so that it can be re-run.
                    <span class="copy">${_("Configuring as re-run")}</span>
                  </dd>
                </dl>
              </div>

              <div class="status-message">
                <p class="copy">${Text(_('The new course will be added to your course list in 5-10 minutes. Return to this page or {link_start}refresh it{link_end} to update the course list. The new course will need some manual configuration.')).format(
                    link_start=HTML('<a href="#" class="action-reload">'),
                    link_end=HTML('</a>'),
                  )}</p>
              </div>
            </li>
            %endif

            <!-- - - - -->

            <!-- STATE: re-run has error -->
            %if course_info['is_failed']:
            <li class="wrapper-course has-status" data-course-key="${course_info['course_key']}">
              <div class="course-item course-rerun has-error">
                <div class="course-details" href="#">
                  <h3 class="course-title">${course_info['display_name']}</h3>

                  <div class="course-metadata">
                    <span class="course-org metadata-item">
                      <span class="label">${_("Organization:")}</span> <span class="value">${course_info['org']}</span>
                    </span>
                    <span class="course-num metadata-item">
                      <span class="label">${_("Course Number:")}</span>
                      <span class="value">${course_info['number']}</span>
                    </span>
                    <span class="course-run metadata-item">
                      <span class="label">${_("Course Run:")}</span> <span class="value">${course_info['run']}</span>
                    </span>
                  </div>
                </div>

                <dl class="course-status">
                  ## Translators: This is a status message for the course re-runs feature.
                  ## When a course admin indicates that a course should be re-run, the system
                  ## needs to process the request and prepare the new course. The status of
                  ## the process will follow this text.
                  <dt class="label sr">${_("This re-run processing status:")}</dt>
                  <dd class="value">
                    <span class="icon fa fa-warning" aria-hidden="true"></span>
                    <span class="copy">${_("Configuration Error")}</span>
                  </dd>
                </dl>
              </div>

              <div class="status-message has-actions">
                <p class="copy">${_("A system error occurred while your course was being processed. Please go to the original course to try the re-run again, or contact your PM for assistance.")}</p>

                <ul  class="status-actions">
                  <li class="action action-dismiss">
                    <a href="#" class="button dismiss-button" data-dismiss-link="${course_info['dismiss_link']}">
                      <span class="icon fa fa-times-circle" aria-hidden="true"></span>
                      <span class="button-copy">${_("Dismiss")}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            %endif
            %endfor
          </ul>
      </div>
      %endif

      % if libraries_enabled or archived_courses:
      <ul id="course-index-tabs">
        <li class="courses-tab active"><a>${_("Courses")}</a></li>
        % if archived_courses:
        <li class="archived-courses-tab"><a>${_("Archived Courses")}</a></li>
        % endif
        % if libraries_enabled:
        <li class="libraries-tab"><a>${_("Libraries")}</a></li>
        % endif
      </ul>
      % endif

      <div class="search_div" style="margin:10px; margin-left:0px;">
        <input type="text" id="cms_text" style="">
        <button class="btn btn-primary" id="cms_search" type="button"
                style="height:30px;
                       width:80px;
                       margin-bottom:2px;
                       border-radius:5px;
                       background-color:#009fe6;
                       color:#FFFFFF;
                       font-size:90%;
                       ">${_("Search")}</button>
      </div>

      %if len(courses) > 0 or optimization_enabled:
      <div class="courses courses-tab react-course-listing active">
        ${static.renderReact(
          component="CourseOrLibraryListing",
          id="react-course-listing",
          props={
            'items': sorted(courses, key=lambda s: s['display_name'].lower() if s['display_name'] is not None else ''),
            'linkClass': 'course-link',
            'idBase': 'course',
            'allowReruns': allow_course_reruns and rerun_creator_status and course_creator_status=='granted'
          }
        )}
      </div>

      %else:
      <div class="notice notice-incontext notice-instruction notice-instruction-nocourses list-notices courses-tab active">
        <div class="notice-item">
          <div class="msg">
            <h3 class="title">${_("Are you staff on an existing {studio_name} course?").format(studio_name=settings.STUDIO_SHORT_NAME)}</h3>
            <div class="copy">
              <p>${_('The course creator must give you access to the course. Contact the course creator or administrator for the course you are helping to author.')}</p>
            </div>
          </div>
        </div>

        %if course_creator_status == "granted":
        <div class="notice-item has-actions">
          <div class="msg">
            <h3 class="title">${_('Create Your First Course')}</h3>
            <div class="copy">
              <p>${_('Your new course is just a click away!')}</p>
            </div>
          </div>

          <ul class="list-actions">
            <li class="action-item">
              <a href="#" class="action-primary action-create action-create-course new-course-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span> ${_('Create Your First Course')}</a>
            </li>
          </ul>
        </div>
        % endif

      </div>
      % endif


      %if course_creator_status == "unrequested":
      <div class="wrapper wrapper-creationrights">
        <h3 class="title">
          <a href="#instruction-creationrights" class="ui-toggle-control show-creationrights"><span class="label">${_('Becoming a Course Creator in {studio_name}').format(studio_name=settings.STUDIO_SHORT_NAME)}</span> <span class="icon fa fa-times-circle" aria-hidden="true"></span></a>
        </h3>

        <div class="notice notice-incontext notice-instruction notice-instruction-creationrights ui-toggle-target" id="instruction-creationrights">
          <div class="copy">
            <p>${_('{studio_name} is a hosted solution for our xConsortium partners and selected guests. Courses for which you are a team member appear above for you to edit, while course creator privileges are granted by {platform_name}. Our team will evaluate your request and provide you feedback within 24 hours during the work week.').format(
              studio_name=settings.STUDIO_NAME, platform_name=settings.PLATFORM_NAME)}</p>
          </div>

          <div class="status status-creationrights is-unrequested">
            <h4 class="title">${_('Your Course Creator Request Status:')}</h4>

            <form id="request-coursecreator" action="${request_course_creator_url}" method="post" enctype="multipart/form-data">
              <div class="form-actions">
                <button type="submit" id="request-coursecreator-submit" name="request-coursecreator-submit" class="action-primary action-request"><span class="icon fa fa-cog icon-inline fa fa-spin" aria-hidden="true"></span> <span class="label">${_('Request the Ability to Create Courses')}</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>

      %elif course_creator_status == "denied":
      <div class="wrapper wrapper-creationrights is-shown">
        <h3 class="title">
          <a href="#instruction-creationrights" class="ui-toggle-control current show-creationrights"><span class="label">${_('Your Course Creator Request Status')}</span> <span class="icon fa fa-times-circle" aria-hidden="true"></span></a>
        </h3>

        <div class="notice notice-incontext notice-instruction notice-instruction-creationrights ui-toggle-target" id="instruction-creationrights">
          <div class="copy">
            <p>${_('{studio_name} is a hosted solution for our xConsortium partners and selected guests. Courses for which you are a team member appear above for you to edit, while course creator privileges are granted by {platform_name}. Our team is has completed evaluating your request.').format(
              studio_name=settings.STUDIO_NAME, platform_name=settings.PLATFORM_NAME,
            )}</p>
          </div>

          <div class="status status-creationrights has-status is-denied">
            <h4 class="title">${_('Your Course Creator Request Status:')}</h4>

            <dl class="status-update">
              <dt class="label">${_('Your Course Creator request is:')}</dt>
              <dd class="value">
                <span class="status-indicator"></span>
                <span class="value-formal">${_('Denied')}</span>
                <span class="value-description">${_('Your request did not meet the criteria/guidelines specified by {platform_name} Staff.').format(platform_name=settings.PLATFORM_NAME)}</span>
              </dd>
            </dl>
          </div>
        </div>
      </div>

      %elif course_creator_status == "pending":
      <div class="wrapper wrapper-creationrights is-shown">
        <h3 class="title">
          <a href="#instruction-creationrights" class="ui-toggle-control current show-creationrights"><span class="label">${_('Your Course Creator Request Status')}</span> <span class="icon fa fa-times-circle" aria-hidden="true"></span></a>
        </h3>

        <div class="notice notice-incontext notice-instruction notice-instruction-creationrights ui-toggle-target" id="instruction-creationrights">
          <div class="copy">
            <p>${_('{studio_name} is a hosted solution for our xConsortium partners and selected guests. Courses for which you are a team member appear above for you to edit, while course creator privileges are granted by {platform_name}. Our team is currently  evaluating your request.').format(
              studio_name=settings.STUDIO_NAME, platform_name=settings.PLATFORM_NAME,
            )}</p>
          </div>

          <div class="status status-creationrights has-status is-pending">
            <h4 class="title">${_('Your Course Creator Request Status:')}</h4>

            <dl class="status-update">
              <dt class="label">${_('Your Course Creator request is:')}</dt>
              <dd class="value">
                <span class="status-indicator"></span>
                <span class="value-formal">${_('Pending')}</span>
                <span class="value-description">
                  ${_('Your request is currently being reviewed by {platform_name} staff and should be updated shortly.').format(platform_name=settings.PLATFORM_NAME)}
                </span>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      % endif

      %if archived_courses:
      <div class="archived-courses react-archived-course-listing archived-courses-tab">
        ${static.renderReact(
          component="CourseOrLibraryListing",
          id="react-archived-course-listing",
          props={
            'items': sorted(archived_courses, key=lambda s: s['display_name'].lower() if s['display_name'] is not None else ''),
            'linkClass': 'course-link',
            'idBase': 'archived',
            'allowReruns': allow_course_reruns and rerun_creator_status and course_creator_status=='granted'
          }
        )}
      </div>
      %endif

      %if len(libraries) > 0 or optimization_enabled:
      <div class="libraries react-library-listing libraries-tab">
        ${static.renderReact(
          component="CourseOrLibraryListing",
          id="react-library-listing",
          props={
            'items': sorted(libraries, key=lambda s: s['display_name'].lower() if s['display_name'] is not None else ''),
            'linkClass': 'library-link',
            'idBase': 'library',
            'allowReruns': allow_course_reruns and rerun_creator_status and course_creator_status=='granted'
          }
        )}
      </div>

      %else:
      <div class="notice notice-incontext notice-instruction notice-instruction-nocourses list-notices libraries-tab">
        <div class="notice-item">
          <div class="msg">
              <h3 class="title">${_("Were you expecting to see a particular library here?")}</h3>
              <div class="copy">
                  <p>${_('The library creator must give you access to the library. Contact the library creator or administrator for the library you are helping to author.')}</p>
              </div>
          </div>
        </div>
        % if show_new_library_button:
        <div class="notice-item has-actions">
          <div class="msg">
              <h3 class="title">${_('Create Your First Library')}</h3>
              <div class="copy">
                  <p>${_('Libraries hold a pool of components that can be re-used across multiple courses. Create your first library with the click of a button!')}</p>
              </div>
          </div>

        <ul class="list-actions">
          <li class="action-item">
              <a href="#" class="action-primary action-create new-button action-create-library new-library-button"><span class="icon fa fa-plus icon-inline" aria-hidden="true"></span> ${_('Create Your First Library')}</a>
          </li>
        </ul>
        </div>
        % endif
      </div>
      %endif

    </article>
    <aside class="content-supplementary" role="complementary">
      <div class="bit">
        <h3 class="title title-3">${_('New to {studio_name}?').format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${_('Click Help in the upper-right corner to get more information about the {studio_name} page you are viewing. You can also use the links at the bottom of the page to access our continually updated documentation and other {studio_name} resources.').format(studio_name=settings.STUDIO_SHORT_NAME)}</p>

        <ol class="list-actions">
          <li class="action-item">

            <a href="${get_online_help_info(online_help_token())['doc_url']}" target="_blank">${_("Getting Started with {studio_name}").format(studio_name=settings.STUDIO_NAME)}</a>
          </li>
        </ol>
      </div>

      % if course_creator_status=='disallowed_for_this_site' and settings.FEATURES.get('STUDIO_REQUEST_EMAIL',''):
      <div class="bit">
        <h3 class="title title-3">${_("Can I create courses in {studio_name}?").format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${Text(_("In order to create courses in {studio_name}, you must {link_start}contact {platform_name} staff to help you create a course{link_end}.")).format(
            studio_name=settings.STUDIO_NAME,
            platform_name=settings.PLATFORM_NAME,
            link_start=HTML('<a href="mailto:{email}">').format(email=settings.FEATURES.get('STUDIO_REQUEST_EMAIL','')),
            link_end=HTML("</a>"),
          )}</p>
      </div>
      % endif

      % if course_creator_status == "unrequested":
      <div class="bit">
        <h3 class="title title-3">${_("Can I create courses in {studio_name}?").format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${_('In order to create courses in {studio_name}, you must have course creator privileges to create your own course.').format(studio_name=settings.STUDIO_NAME)}</p>
      </div>

      % elif course_creator_status == "denied":
      <div class="bit">
        <h3 class="title title-3">${_("Can I create courses in {studio_name}?").format(studio_name=settings.STUDIO_NAME)}</h3>
        <p>${Text(_("Your request to author courses in {studio_name} has been denied. Please {link_start}contact {platform_name} Staff with further questions{link_end}.")).format(
            studio_name=settings.STUDIO_NAME,
            platform_name=settings.PLATFORM_NAME,
            link_start=HTML('<a href="mailto:{email}">').format(email=settings.TECH_SUPPORT_EMAIL),
            link_end=HTML('</a>'),
          )}</p>
      </div>

      % endif
    </aside>
  </section>


  % else:
  <section class="content">
    <article class="content-primary" role="main">
      <div class="introduction">
        <h2 class="title">${_("Thanks for signing up, {name}!").format(name=user.username)}</h2>
      </div>

      <div class="notice notice-incontext notice-instruction notice-instruction-verification">
        <div class="msg">
          <h3 class="title">${_("We need to verify your email address")}</h3>
          <div class="copy">
            <p>${_('Almost there! In order to complete your sign up we need you to verify your email address ({email}). An activation message and next steps should be waiting for you there.').format(email=user.email)}</p>
          </div>
        </div>
      </div>
    </article>

    <aside class="content-supplementary" role="complementary">
      <div class="bit">
        <h3 class="title title-3">${_('Need help?')}</h3>
        <p>${_('Please check your Junk or Spam folders in case our email isn\'t in your INBOX. Still can\'t find the verification email? Request help via the link below.')}</p>
      </div>
    </aside>
  </section>

  %endif
</div>
</%block>
