<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from courseware.courses import get_course_about_section
from django.conf import settings
from six import text_type
from edxmako.shortcuts import marketing_link
from openedx.core.djangolib.markup import HTML
from openedx.core.lib.courses import course_image_url
from six import string_types
%>

<%inherit file="../main.html" />
<style>
  .univ-list-top {position:relative;background:url(/static/images/contents/univ_top.jpg) center center no-repeat;background-size:cover;height:270px;}
  .univ-list-top-txt {display:table;width:100%;height:100%;text-align:Center;color:#fff;}
  .univ-list-top-txt > div  {display:table-cell;vertical-align:middle;}
  .univ-list-top-txt h2 {color:#fff;font-weight:400;border:0;padding-bottom:0;line-height:1em;}
  .univ-list-top-txt h2 > span {font-size:1.125rem;}
  .univ-list-top-txt p {line-height:1.8em;}

  .univ-list {list-style:none;margin:0 0 0 -1.5%;padding-top:10px;}
  .univ-list li {float:left;width:20%;padding-left:1.5%;box-sizing:border-box;margin:20px 0 0 0;}
  .univ-list li > a {display:block;text-align:center;border:solid 1px #e5e4e4;padding:13px 0;overflow:hidden;}
  .univ-list li > a img {max-height:60px;width:auto;}

  .univ-list-infotop {background:url(/static/images/contents/univ_top_info.jpg) center center no-repeat;background-size:cover;height:195px;margin-bottom:10px;}
  .container.univ > h2 {border:0;font-size:2.813rem;}
  .univ-info {line-height:1.8em;margin-bottom:100px;position:relative;}
  .univ-info .sns-box {position:absolute;right:0;top:-90px;}
</style>


<%block name="pagetitle">${_("University List")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container">
        <!-- [s]  -->
        <div class="univ-list-top" style="height: 180px; font-family: 'Open Sans' !important;">
            <div class="univ-list-top-txt">
                <div>
                        <b><p style="font-size: 200%">K-MOOC와 함께하는 참여기관을 소개합니다.</p></b>
                        <b><p>K-MOOC는 69개의 국내 유수 기관과 함께 최고 수준의 무크 서비스를 제공하여 평생학습 시대를 만들어 갑니다.</p></b>
                </div>
            </div>
        </div>
        % if LANGUAGE_CODE == 'ko-kr':
        <div style="font-size: 140%; margin-top:30px; font-weight:bold; border: solid 0px black">(2015년~현재) 참여 기관<hr>
            <a href="/school/KHUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KHUk.png" alt="경희대학교"></a>
            <a href="/school/KoreaUnivK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KoreaUnivK.png" alt="고려대학교"></a>
            <a href="/school/PNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_PNUk.png" alt="부산대학교"></a>
            <a href="/school/SNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SNUk.png" alt="서울대학교"></a>
            <a href="/school/SKKUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SKKUk.png" alt="성균관대학교"></a>
            <a href="/school/YSUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_YSUk.png" alt="연세대학교"></a>
            <a href="/school/EwhaK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_EwhaK.png" alt="이화여자대학교"></a>
            <a href="/school/POSTECHk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_POSTECHk.png" alt="포항공과대학교"></a>
            <a href="/school/KAISTk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KAISTk.png" alt="한국과학기술원"></a>
            <a href="/school/HYUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_HYUk.png" alt="한양대학교"></a>
        </div>

        <div style="font-size: 140%; margin-top:30px; font-weight:bold; border: solid 0px black">(2016년~현재) 참여 기관<hr>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_CUKk.jpg" alt="가톨릭대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KonYangK.PNG" alt="건양대학교">
            <a href="/school/KYUNGNAMUNIVk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KYUNGNAMUNIVk.png" alt="경남대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KNUk.png" alt="경북대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KONGJUk.jpg" alt="공주대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KUMOHk.jpg" alt="금오공과대학교">
            <a href="/school/DKUK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DANKOOK.png" alt="단국대학교"></a>
            <a href="/school/DGUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DGUk.png" alt="대구대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DonggukK.png" alt="동국대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DSUK.png" alt="동신대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_MokwonK.png" alt="목원대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_BUFSK.png" alt="부산외국어대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SYUk.png" alt="삼육대학교">
            <a href="/school/SMUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SMUk.png" alt="상명대학교"></a>
            <a href="/school/UOSk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_UOS.png" alt="서울시립대학교"></a>
            <a href="/school/SSUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SSUk.png" alt="성신여자대학교"></a>
            <a href="/school/SejonguniversityK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SejonguniversityK.png" alt="세종대학교"></a>
            <a href="/school/SookmyungK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SookmyungK.png" alt="숙명여자대학교"></a>
            <a href="/school/YeungnamUnivK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_YeungnamUnivK.png" alt="영남대학교"></a>
            <a href="/school/UOUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_UOUk.png" alt="울산대학교"></a>
            <a href="/school/INHAuniversityK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_INHAuniversityK.png" alt="인하대학교"></a>
            <a href="/school/CBNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_CBNUk.png" alt="전북대학교"></a>
            <a href="/school/JEJUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_JNU.jpg" alt="제주대학교"></a>
            <a href="/school/CAUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_CAU.png" alt="중앙대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_CNUk.png" alt="충남대학교">
            <a href="/school/HGUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_HGU.jpg" alt="한동대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_Hallymk.png" alt="한림대학교">
        </div>

        <div style="font-size: 140%; margin-top:30px; font-weight:bold; border: solid 0px black">(2017년~현재) 참여 기관<hr>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_CKUk.JPG" alt="가톨릭관동대학교">
            <a href="/school/KonkukK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KONKUK.png" alt="건국대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KONKUK.png" alt="건국대학교(글로컬)">
            <a href="/school/KSUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KYUNGSUNG.jpg" alt="경성대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KIUk.png" alt="경일대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_KMUK.png" alt="국민대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DCUk.png" alt="대구가톨릭대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DHUk.JPG" alt="대구한의대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DJUk.jpg" alt="대전대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_TUk.png" alt="동명대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_DAUk.png" alt="동아대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_PCUk.png" alt="배재대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_PKNUk.png" alt="부경대학교">
            <a href="/school/SOGANGk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SOGANG.jpg" alt="서강대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SEOULTECHk.jpg" alt="서울과학기술대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SWUK.jpg" alt="서울여자대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SUNMOONk.JPG" alt="선문대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SKUk.png" alt="성결대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SCHk.jpg" alt="순천향대학교">
            <a href="/school/SoongsilUnivK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_SOONGSIL.png" alt="숭실대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_AYUk.png" alt="안양대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_YonseiWK.png" alt="연세대학교(원주)">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_WSUK.png" alt="우송대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_WKUk.jpg" alt="원광대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_InhatcK.png" alt="인하공업전문대학">
            <a href="/school/JNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_CNU.png" alt="전남대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_ChosunK.jpg" alt="조선대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_ChungbukK.png" alt="충북대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_PTUk.png" alt="평택대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_HansungK.png" alt="한성대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ/logo01_HongikUnivK.png" alt="홍익대학교">
        </div>
        % else:
        <div style="font-size: 140%; margin-top:30px; font-weight:bold; border: solid 0px black">(2015~Present) Participating Organizations<hr>
            <a href="/school/KHUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KHUk_e.png" alt="경희대학교"></a>
            <a href="/school/KoreaUnivK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KoreaUnivK_e.png" alt="고려대학교"></a>
            <a href="/school/PNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_PNUk_e.png" alt="부산대학교"></a>
            <a href="/school/SNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SNUk_e.png" alt="서울대학교"></a>
            <a href="/school/SKKUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SKKUk_e.png" alt="성균관대학교"></a>
            <a href="/school/YSUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_YSUk_e.png" alt="연세대학교"></a>
            <a href="/school/EwhaK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_EwhaK_e.png" alt="이화여자대학교"></a>
            <a href="/school/POSTECHk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_POSTECHk_e.png" alt="포항공과대학교"></a>
            <a href="/school/KAISTk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KAISTk_e.png" alt="한국과학기술원"></a>
            <a href="/school/HYUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_HYUk_e.png" alt="한양대학교"></a>
        </div>

        <div style="font-size: 140%; margin-top:30px; font-weight:bold; border: solid 0px black">(2016~Present) Participating Organizations<hr>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_CUKk_e.jpg" alt="가톨릭대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KonYangK_e.PNG" alt="건양대학교">
            <a href="/school/KYUNGNAMUNIVk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KYUNGNAMUNIVk_e.png" alt="경남대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KNUk_e.png" alt="경북대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KONGJUk_e.jpg" alt="공주대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KUMOHk_e.jpg" alt="금오공과대학교">
            <a href="/school/DKUK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DANKOOK_e.png" alt="단국대학교"></a>
            <a href="/school/DGUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DGUk_e.png" alt="대구대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DonggukK_e.jpg" alt="동국대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DSUK_e.png" alt="동신대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_MokwonK_e.png" alt="목원대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_BUFSK_e.png" alt="부산외국어대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SYUk_e.png" alt="삼육대학교">
            <a href="/school/SMUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SMUk_e.png" alt="상명대학교"></a>
            <a href="/school/UOSk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_UOS_e.png" alt="서울시립대학교"></a>
            <a href="/school/SSUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SSUk_e.png" alt="성신여자대학교"></a>
            <a href="/school/SejonguniversityK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SejonguniversityK_e.png" alt="세종대학교"></a>
            <a href="/school/SookmyungK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SookmyungK_e.png" alt="숙명여자대학교"></a>
            <a href="/school/YeungnamUnivK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_YeungnamUnivK_e.png" alt="영남대학교"></a>
            <a href="/school/UOUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_UOUk_e.png" alt="울산대학교"></a>
            <a href="/school/INHAuniversityK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_INHAuniversityK_e.png" alt="인하대학교"></a>
            <a href="/school/CBNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_CBNUk_e.png" alt="전북대학교"></a>
            <a href="/school/JEJUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_JNU_e.jpg" alt="제주대학교"></a>
            <a href="/school/CAUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_CAU_e.png" alt="중앙대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_CNUk_e.png" alt="충남대학교"></a>
            <a href="/school/HGUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_HGU_e.jpg" alt="한동대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_Hallymk_e.png" alt="한림대학교">
        </div>

        <div style="font-size: 140%; margin-top:30px; font-weight:bold; border: solid 0px black">(2017~Present) Participating Organizations<hr>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_CKUk_e.jpg" alt="가톨릭관동대학교">
            <a href="/school/KonkukK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KONKUK_e.png" alt="건국대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KONKUK_e.png" alt="건국대학교(글로컬)">
            <a href="/school/KSUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KYUNGSUNG_e.jpg" alt="경성대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KIUk_e.png" alt="경일대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_KMUK_e.png" alt="국민대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DCUk_e.png" alt="대구가톨릭대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DHUk_e.jpg" alt="대구한의대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DJUk_e.jpg" alt="대전대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_TUk_e.png" alt="동명대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_DAUk_e.png" alt="동아대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_PCUk_e.png" alt="배재대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_PKNUk_e.png" alt="부경대학교">
            <a href="/school/SOGANGk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SOGANG_e.jpg" alt="서강대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SEOULTECHk_e.jpg" alt="서울과학기술대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SWUK_e.jpg" alt="서울여자대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SunMoonK_e.jpg" alt="선문대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SKUk_e.jpg" alt="성결대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SCHk_e.jpg" alt="순천향대학교">
            <a href="/school/SoongsilUnivK"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_SOONGSIL_e.png" alt="숭실대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_AYUk_e.png" alt="안양대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_YonseiWK_e.png" alt="연세대학교(원주)">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_WSUK_e.png" alt="우송대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_WKUk_e.jpg" alt="원광대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_InhatcK_e.png" alt="인하공업전문대학">
            <a href="/school/JNUk"><img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_CNU_e.png" alt="전남대학교"></a>
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_ChosunK_e.jpg" alt="조선대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_ChungbukK_e.png" alt="충북대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_PTUk_e.png" alt="평택대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_HansungK_e.png" alt="한성대학교">
            <img style='margin-bottom: 10px; height:90px; width: 220px; border: solid 1px #e5e4e4; padding: 13px;' src="/static/images/univ_e/logo01_HongikUnivK_e.png" alt="홍익대학교">
        </div>
        % endif

    </section>
</main>