<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("COREk")}</%block>

<section class="container full home" id="main">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_kocw.png" alt=""></div>

    <section class="container univ">
        <h2>${_("CORE (initiative for College of humanities' Research and Education)")}</h2>
        <div class="univ-info">
            <!--<div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/user/playHanyangUniv"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/HanyangUniv"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
            </div>-->

            <p>${_("CORE is a project to support Universities’ autonomous human capacity and its innovation, aiming at strengthening the competence and the status of humanities as a basic discipline that responds to social demand for sustainable national development.")}</p>

            <br><br>
            <p>[${_("K-MOOC participating Universities")}]</p>
            <p>${_("Kyungpook National University, Seoul National University, Sungkyunkwan University, Hanyang University")}</p>
            <br>
            <p>※ <a target="_blank" href="http://core-portal.org/html/main/main.php"> ${_("Reference: National Research Foundation of Korea homepage  (http://core-portal.org/html/main/main.php)")}</a></p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
