<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("INHAuniversityK")}</%block>

<section class="container full home" id="main">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_INHAuniversityK.png" alt=""></div>

    <section class="container univ">
        <h2>${_("INHA UNIVERSITY")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/channel/UCWwYvRzlP6AkzQS-Ftw5wsA"><img src="/static/images/common/footer_icon01.png" alt="youtube 링크 공유하기" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/inhanuri"><img src="/static/images/common/footer_icon02.png" alt="facebook 링크 공유하기" class="univSns"/></a>
            </div>
            ${_(
                "<p>Inha University was established in 1954 with the aim of being the 'MIT of the East' and the life principles of character training, the pursuit of truth, and community service to commemorate the 50th anniversary of Korean immigrants in Hawaii.<br/>"
                "Thanks to the thoughtful donations and the pioneering spirit of Korean residents in Hawaii, Inha University has produced more than sixteen thousand outstanding graduates and it is ranked alongside the world's leading universities.<br/><br/>"
                "Until now, global talents from Inha have been contributing to develop Korea as a world-class, advanced economic power. Inha will continue to grow as a genuine and prestigious private institution to develop global talent that can improve Korea's future.<br/><br/>"
                "In the future, Inha University will ensure the internal stability of basic education, be innovative by promoting convergence experience education , and invite qualified professors as well as strengthen teachers' instructional competency to nurture talented individuals who can serve as the main drivers of transformation. In addition, Inha will foster talented individuals equipped with knowledge and the characteristics of the true caring spirit formed from consideration and communication to take the lead in practical services.</p>"
            )}
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
