<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("KAISTk")}</%block>

<section class="container full home" id="main">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_kaist.png" alt=""></div>

    <section class="container univ">
        <h2>${_("KAIST")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                <!--
                 <a target="_blank" href="https://www.youtube.com/channel/UCWwYvRzlP6AkzQS-Ftw5wsA"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/inhanuri"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
                 -->
            </div>
            ${_(
                "<p>The Korea Advanced Institute of Science and Technology (KAIST) was established in 1971 by the Korean government as the nation's first research-intensive graduate school for science, engineering and technology. It has now grown into one of the world's best universities, delivering top notch education and research programs for undergraduate and graduate students. KAIST encourages interdisciplinary and convergent research across a wide spectrum of disciplines, as well as strong collaborations with industry and global institutions.</p>"
            )}
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
