<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("ACEk")}</%block>

<section class="container full home" id="main">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_kocw.png" alt=""></div>

    <section class="container univ">
        <h2>${_("ACE : Advancement of College Education")}</h2>
        <div class="univ-info">
            <!--<div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/user/playHanyangUniv"><img src="/static/images/common/footer_icon01.png" alt="youtube" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/HanyangUniv"><img src="/static/images/common/footer_icon02.png" alt="facebook" class="univSns"/></a>
            </div>-->
            <p>${_("ACE implements University’s ideology, visions, and talents for creating and spreading the best model of leading undergraduate education with the objective of 'a well-taught University'. Also, this project supports universities’ overall improvement for curriculum development, operational efforts, and educational support system")}</p>
            <br><br>
            <p>[${_("K-MOOC participating Universities")}]</p>
            <p>${_("Gachon University, Kunyang University, Dongguk University, Dongshin University, Mokwon University, Sangmyung University (Seoul), Seoul City University, Chungang University, Chungnam University, Handong University, Hallym University")}</p>
            <br>
            <p>※ <a target="_blank" href="http://eduup.kcue.or.kr">${_("Reference: ACE homepare (http://eduup.kcue.or.kr)")}</a></p>
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
