<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("KHUk")}</%block>

<section class="container full home" id="main">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_khu.png" alt=""></div>

    <section class="container univ">
        <h2>${_("KYUNGHEE UNIVERSITY")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/user/KyungHeeUniv"><img src="/static/images/common/footer_icon01.png" alt="youtube 링크 공유하기" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/kyungheeuniv"><img src="/static/images/common/footer_icon02.png" alt="facebook 링크 공유하기" class="univSns"/></a>
            </div>
            ${_(
                "<p>Since its founding, Kyung Hee University has pursued the Kyung Hee Spirit of 'Scholarship and Peace' as well as the founding principle of 'creating a civilized world.' For the past 62 years, the University has developed remarkably, contributing to the fulfillment of a 'cultural world for humanity' as the leader of the future of academics and the creator of common values for humanity. In particular, the past five years have witnessed notable growth and a rise in the University's stature through forward-looking and adventurous endeavors in education, research, public service, and praxis.</p>"
                "<p>On its 60th anniversary in 2009, Kyung Hee University prepared for a second leap forward while seeking a new paradigm of future university development. It reflected on the fundamental mission of the University and established a new vision and goals for becoming a true university of the future. In this new vision for a university that transcends the traditional notion of the university as a mere physical location and the limitations of an exclusive academe, Kyung Hee University will rise to international prestige and develop into an international center of research, education, and praxis that brings together reality and imagination, the basics and applied sciences, and theory and practice. Pursuing 'Global Eminence' on a foundation of academic excellence, Kyung Hee University will become an academic community that fulfills its social responsibility by cultivating world citizens with the capacity for communication and public service.</p>"
            )}
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
