<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("EwhaK")}</%block>

<section class="container full home" id="main">
    <!-- [s]  -->
    <div class="univ-list-infotop"><img src="/static/images/univ_intro/univ_top_ewha.png" alt=""></div>

    <section class="container univ">
        <h2>${_("EWHA WOMANS UNIVERSITY")}</h2>
        <div class="univ-info">
            <div class="sns-box">
                 <a target="_blank" href="https://www.youtube.com/ewhauniv"><img src="/static/images/common/footer_icon01.png" alt="youtube 링크 공유하기" class="univSns"/></a>
                 <a target="_blank" href="https://www.facebook.com/EwhaWomansUniversity"><img src="/static/images/common/footer_icon02.png" alt="facebook 링크 공유하기" class="univSns"/></a>
            </div>
            ${_(
                "<p>Ewha's origin dates back to 1886 when classes began under the tutelage of the American missionary Mary F. Scranton, heralding a proud and unprecedented history of educating Korean women and fostering a spirit of challenge and determination that delivered a series of unique and outstanding achievement.</p>"
                "<p>Ewha comprises 12 colleges, 15 graduate schools, and 25,000 students, and each year has produced 3,500 graduates with bachelor's degrees, 2,000 with master's degrees and 200 with doctoral degrees.</p>"
                "<p>As Korea's first educational institution for women, Ewha has now grown into the largest women's university in the world. Continuing its path of leadership throughout the past 130 years, Ewha is eager to make history as a global leader throughout the coming century under the vision of 'Innovation Ewha: Leading Global Excellence.'</p>"
            )}
        </div>

        <section class="courses-container">
            <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
                <ul class="courses-listing">
                %if courses and len(courses) > 0:
                    %for course in courses:
                    <li class="courses-listing-item">
                        <%include file="../course.html" args="course=course" />
                    </li>
                    %endfor
                %else:
                    <div class="noCourse">※ ${_("There are currently no courses available.")}</div>
                %endif
                </ul>
            </section>
        </section>
    </section>

    <!-- [e]  -->
</section>
