<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">nicecheckplus</%block>

<%block name="js_extra">
    <script>
        $(document).ready(function(){
            opener.location.reload();
            self.close();
        });
    </script>
</%block>

<%block name="header_extras"></%block>

% if settings.FEATURES.get('ENABLE_COMBINED_LOGIN_REGISTRATION'):
    ## This overwrites the "footer" block declared in main.html
    ## with an empty block, effectively hiding the footer
    ## from logistration pages.
    <%block name="footer"/>
% endif
