<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="js_extra">
    <script>
        $(document).ready(function(){
            $("#agreeBox").click(function(){
                if($("#agreeBox").is(":checked")){
                    $("#intro").slideDown(200);
                }else{
                    $("#intro").slideUp(300);
                }
            });

        });


        function password_check(){
            var passwd = $("#password").val();
            if(passwd == "" || passwd == null){
                if($("#password").is(":visible")){
                    alert('${_("Please enter a password")}');
                }else{
                    alert('${_("You have to agree to the instructions.")}');
                }

                $("#password").focus();
                return;
            }
            $.post("/account/settings_confirm_check",
                    {passwd: passwd},
                    function(data){
                        if(data.success){
                            document.location.href = "/remove_account";
                        }else if(!data.success){
                            alert('${_("The password is incorrect.")}');
                        }else{
                            alert('${_("Access path is abnormal.")}\n${_("Move the home")}');
                            document.location.href = "/";
                        }
            },"json");
        }

    </script>
</%block>

<%block name="pagetitle">${_("Certificate Id Check")}</%block>
<section class="container rule">
    <section class="container">
        <!-- [s] -->
        <h2>${_("Withdrawal guidance")}</h2>

        <section class="certification-box">
            <div class="grid-container grid-manual">
                <div class="row">
                    <div class="col col-12 sm-col-12 md-col-4 lg-col-4" style="width: 100%;">
                        <div class="certification-form">
                            <p>${_("Please make sure to check the instructions before submitting your membership withdrawal")}</p>
                            <ul style="margin-left:0.5em; list-style-type:none;">
                                <li><img style="width:12px" src="/static/images/correct-icon.png">&nbsp;<b>${_("If you wirthdraw your membership, you can not reuse or recover the ID in use")}</b></li>
                                <li>${_("Please be careful that you and others can not reuse or recover your ID if you withdraw your membership.")}</li>
                            </ul>

                            <ul style="margin-left:0.5em; list-style-type:none;">
                                <li><img style="width:12px" src="/static/images/correct-icon.png">&nbsp;<b>${_("After your withdrawal of membership, the membership information and personal service use history will be deleted.")}</b></li>
                                <li>${_("Personal service use information such as member information, e-mail addresse, and profiles will be deleted, and the deleted data will not be recovered.")}</br>
                                    ${_("Please confirm the deleted information and backup the necessary data in advance.")}
                                </li>
                            </ul>

                            <ul style="margin-left:0.5em; list-style-type:none;">
                                <li><img style="width:12px" src="/static/images/correct-icon.png">&nbsp;<b>${_("Postings registered on the bulletin board service remain after the withdrawal.")}</b></li>
                                <li>- ${_("Bulletin board")}</li>
                                <li>- ${_("Question answer opinion")}</li>
                                <li>- ${_("Wiki")}</li>
                                <li>- ${_("Posts")}</li>
                            </ul>

                            <ul style="margin-left:0.5em; list-style-type:none;">
                                <li>${_("After withdrawal, you can not subscribe to the current ID again and ID and data can not be recovered.")}</li>
                                <li>${_("Postings registered on the bulletin board service can not be deleted after the withdrawal.")}</li>
                            </ul>

                            <p><input type="checkbox" id="agreeBox" />&nbsp;&nbsp;${_("I have read and agree to all the instructions.")}</p>

                            <p id="intro" style="display: none;">
                                <input type="password" id="password" name="password" placeholder="${_('Input your password')}" value="" /><br/>
                                <span > - 비밀번호를 입력해주세요.</span>
                            </p>
                            <a href="javascript:password_check();" id="check"><input type="button" value="${_('Withdrawal')}" ></a>


                            <!--
                            <div id="check_result">
                                <div id="correct" style="display: none;">
                                    <span class="icon fa fa-check" aria-hidden="true"></span>
                                    &nbsp;<b>${_("This is valid edX certification number.")}</b>
                                    <a href="#" id="showCert" target="_blank" style="background: #f58026;
                                                                    font-size: 12px;
                                                                    font-weight: bold;
                                                                    color: white;
                                                                    border-radius: 3px;
                                                                    padding: 1px 10px;
                                                                    margin: 5px;
                                                                    vertical-align: middle;">${_("View")}</a>
                                </div>

                                <div id="incorrect" style="display: none;">
                                    <span class="icon fa fa-close" aria-hidden="true"></span>
                                    &nbsp;<b>${_("This is not valid edX certification number.")}</b>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="col col-12 sm-col-12 md-col-8 lg-col-8">
                        <div class="certification-img">
                            <!--
                            <img src="/static/images/contents/certification.gif" alt='${_("Certificate Sample")}'>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br/>
        <br/>
        <br/>
        <br/>

        <!-- [e]  -->
    </section>
</section>