<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">
${page_title}
</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>
<script src="${static.url('js/script/comm_memo.js')}" charset="utf-8"></script>

<script>
function checked_all() {
    if ($("#check_all").is(":checked")) {
        $(".check_all").prop('checked', true) ;
    } else {
        $(".check_all").prop('checked', false) ;
    }
}

function delete_all() {
    del_list = ''
    for(var i=0; i<10; i++){
        if($(".check_all").eq(i).is(":checked") == true){
            //$(".check_all").eq(i).attr('id');
            del_list += $(".check_all").eq(i).attr('id') + '+';
        }
    }

    console.log(del_list);

    $.post( "/memo", {
        del_list: del_list
    })
    .done(function( data ) {
        search(1);
    });
}
</script>

<section class="container">
    <h2 title="${page_title}" id="main">${_(page_title)}</h2>
    <!-- [s] board list -->
    <section class="board-search-box" style="margin-top:0;">
        <select id="search_con" title="검색 조건 선택">
            <option id="search_total" title="전체">- 전체 -</option>
            <option id="search_title" title="제목">- 제목 -</option>
        </select>
        <input type="text" id="search_search" onkeydown="onKeyDown()" aria-label="검색어 입력" title="검색어 입력">
        <input type="button" id="search" value="검색" title="검색" aria-label="검색">
        <input type="hidden" id="curr_page" value="1">
        <input type="button" id="delete" value="삭제" title="삭제" aria-label="삭제" onclick="delete_all()">
    </section>
    <section class="memo-list">
        <ul>
            <li class="thead">
                <span class="check" title="체크"><input type="checkbox" onclick="checked_all()" id="check_all"/></span>
                <span class="no" title="번호">번호</span>
                <span class="gubun" title="구분">구분</span>
                <span class="title" title="제목">제목</span>
                <span class="send_date" title="날짜">발송일시</span>
                <span class="read_date" title="확인">확인</span>
            </li>

            <div id="tbody"></div>
        </ul>

        <div id="paging" class="paging"></div>
    </section>
    <!-- [e] board list -->
</section>
<br/><br/><br/><br/><br/><br/><br/>
