<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">자료실</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>

## <script src="${static.url('js/jquery-datatables/script/notice.datatables.ajax.js')}" charset="utf-8"></script>

<script src="${static.url('js/script/repository.js')}" charset="utf-8"></script>

<section class="container">
    <h2 title="자료실" id="main">자료실</h2>
    <!-- [s] board list -->
    <section class="board-search-box">
        <select id="search_con" title="검색 조건 선택">
            <option id="search_total" title="전체">- 전체 -</option>
            <option id="search_title" title="제목">- 제목 -</option>
        </select>
        <input type="text" id="search_search" onkeydown="onKeyDown()" aria-label="검색어 입력" title="검색어 입력">
        <input type="button" id="search" value="검색" title="검색" aria-label="검색">
    </section>
    <section class="board-list">
        <ul>
            <li class="thead">
                <span class="no" title="번호">번호</span>
                <span class="title" title="제목">제목</span>
                <span class="date" title="날짜">날짜</span>
##                             <span class="visit">조회수</span>
            </li>
            <div id="tbody">

            </div>

        </ul>

        <div class="paging">
        </div>
    </section>
    <!-- [e] board list -->
</section>
<br/><br/><br/><br/><br/><br/><br/>


