<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">쪽지</%block>
<%inherit file="../main.html" />

<%block name="header_extras"></%block>

<!-- css start -->
<style>
.title{
    margin-top: -15px;
}
.contents_bottom{
    border-bottom: solid 1px #8a8a8a;
}
.btn2{
    float: right;
    margin-left: 10px;
}
.btn1{
    float: right;
}
</style>
<!-- css end -->

<!-- js start -->
<script>
$(document).ready(function(){
    $(".btn1").click(function(){
        location.href = "/memo";
    });

    $(".btn2").click(function(){
        var user_id = ${user.id};
        var board_id = ${board_id};
        $.post( "/memo", {
                                "user_id": user_id,
                                "board_id": board_id,
                                "delete_flag": 1,
                                "csrfmiddlewaretoken": '${ csrf_token }'
                            })
            .done(function( data ) {
                if(data.return == "success"){
                    location.href = "/memo";
                }
                if(data.return == "secure"){
                    alert("권한 없음");
                }
                if(data.return == "fail"){
                    alert("서버 오류");
                }
            });!
    });
});
</script>
<!-- js end -->

<!-- html start -->
<section class="container">
    <h2 class="title" title="공지사항" id="main">쪽지</h2>
    <section class="board-view">
        <ul>
            <li class="title">
                <h3 id="title" title="제목">${title}</h3>
                <time id="reg_date" style="bottom: 20px;" title="작성일">발송일시[등록일시] : ${regist_date}</time>
                <time id="mod_date" style="bottom: 5px;" title="수정일">조회일시 : ${read_date}</time>
            </li>
            <li class="contents" id="context" title="내용">
                <div id="context1">${content}</div>
            </li>
            <li class="contents_bottom" >
            </li>
            <input class="btn2 btn-gray" type="button" value="삭제">
            <input class="btn1 btn-gray" type="button" value="목록">
        </ul>
    </section>
</section>
<!-- html end -->



