## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>
<style>
  /*
  .dropdown-menu{
      width: 120px;
    display: none;
    #height: 165px;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }

  .header-global .nav-global .dropdown-menu {
    position: absolute;
    left: -10px;
    top: 60px;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    margin: 0;
    display: none;
    border: solid 1px #ebebeb;
    border-top: 0;
    text-align: center;
  }
  */
  .global-header{

  }
  li{
    list-style: none;
  }
  .dropdown-menu{
    position:absolute;
    z-index:1000;
    display:none;
    float:left;
    min-width:10rem;
    padding:0.5rem 0;
    margin:0.125rem 0 0;
    font-size:1rem;
    color:#313131;
    text-align:left;
    list-style:none;
    background-color:#fff;
    background-clip:padding-box;

    border:1px solid rgba(0,0,0,0.15);
    border-radius:0.1875rem}
</style>
<nav class="nav-links" aria-label=${_("Supplemental Links")}>
  <div class="main">
  % if mktg_site_enabled:
    <div class="mobile-nav-item hidden-mobile nav-item">
      <a href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
    </div>
    % if courses_are_browsable:
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a href="${marketing_link('COURSES')}">${_("Courses")}</a>
      </div>
    % endif
    <div class="mobile-nav-item hidden-mobile nav-item">
      <a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
    </div>
  % endif
  % if allows_login:
    % if can_discover_courses:
    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link" href="/about">${_("About Us")}</a>
    </div>
    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="/schools" data-hover-label='${_("Participating Institutions")}'>
          ${_("Participating Institutions")}
        </a>
    </div>
    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
      <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('courses')}">
        ${_("Courses")}
      </a>
    </div>
    % if LANGUAGE_CODE != 'en':
    <li class=" mobile-nav-item hidden-mobile nav-item nav-tab nav-item-dropdown item nav-global-04"><a href="#" class="comm_a" data-hover-label='${_("Community")}'><span class="effect_label">${_("Community")}</span></a>
        <ul class="dropdown-menu" style="width: 200px;">
            <li id="menu1"><a href="/comm_list/N" >공지사항</a></li>
            <li id="menu2"><a href="/comm_list/K">K-MOOC 뉴스</a></li>
            <li id="menu3"><a href="/comm_list/R">자료실</a></li>
            <li id="menu4"><a href="/comm_tabs/kmooc_f/">FAQ</a></li>
        </ul>
    </li>
    %endif

    <!--
    <div class="mobile-nav-item hidden-mobile nav-item">
        <a href="/courses">${_('Explore courses')}</a>
    </div>
    -->
    %endif
  % endif
  </div>
  <div class="secondary">
    <div>
      % if allows_login:
        % if restrict_enroll_for_course:
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="register-btn btn" href="${reverse('course-specific-register', args=[text_type(course.id)])}">${_("Register")}</a>
          </div>
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn btn" href="${reverse('course-specific-login', args=[text_type(course.id)])}${login_query()}">${_("Sign in")}</a>
          </div>
        % else:
          % if allow_public_account_creation:
            <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="register-btn btn" href="/register${login_query()}">${_("Register")}</a>
            </div>
          % endif
          <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn btn" href="/login${login_query()}">${_("Sign in")}</a>
          </div>
        % endif
      % endif
    </div>
  </div>
</nav>
<script type="text/javascript">
    var window_W = 0;
    $(document).ready(function(){
        window_W = $(window).width();
	    nav_resize();

        $(".language a").click(function(){
            var href = $(this).attr("href");
            href = href + "?next="+document.location.pathname;
            $(this).attr("href", href);
        });

        $(".m-gnb").click(function () {
            console.log($("#gnb").is(':visible'));
            if(!$("#gnb").is(':visible')){
                $("#gnb").show();
            } else {
                if($(".nav-global-04 ul").is(':visible')){
                    $(".nav-global-04").trigger('click');
                }
                $("#gnb").hide();
            }

        });

    });
    function nav_resize() {
        window_W = $(window).width();
        if(window_W<=768) {
            //$('.nav-global-04').unbind('click mouseenter mouseleave hover');
            $(".nav-global-04").toggle(function () {
                $(".comm_a").children('span').removeAttr('style', 'color');
                $(this).find("ul").show();
            }, function (e) {
                var target = e.target;
                if(!target.className && target.tagName == 'A'){
                    $(".nav-global-04").off('click');
                    location.href = target.href;
                } else {
                    $(this).find("ul").hide();
                    $(".comm_a").children('span').css({'color': '#636363'});
                }

            });
        } else {
            $('.nav-global-04').hover(function() {
                $(this).children('ul').stop(true, false, true).slideToggle(500);
            });

            /*
            $('.nav-global-04').on('click', function() {
                var link_hover = $(this).children('a');
                $(this).children('.dropdown-menu').toggle(0, function(){
                    $(link_hover).blur();
                });
            });
            */
        }
    }
</script>