## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

# App that handles subdomain specific branding
from branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

%>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
  show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
  self.real_user = getattr(user, 'real_user', user)

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>
<style>
  /*
  .dropdown-menu{
      width: 120px;
    display: none;
    #height: 165px;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }

  .header-global .nav-global .dropdown-menu {
    position: absolute;
    left: -10px;
    top: 60px;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
    margin: 0;
    display: none;
    border: solid 1px #ebebeb;
    border-top: 0;
    text-align: center;
  }
  */
  .global-header{

  }
  li{
    list-style: none;
  }
  .dropdown-menu{
    position:absolute;
    z-index:1000;
    display:none;
    float:left;
    min-width:10rem;
    padding:0.5rem 0;
    margin:0.125rem 0 0;
    font-size:1rem;
    color:#313131;
    text-align:left;
    list-style:none;
    background-color:#fff;
    background-clip:padding-box;

    border:1px solid rgba(0,0,0,0.15);
    border-radius:0.1875rem}
</style>
<div class="nav-links">
  <div class="main">

    <!-- 언어선택 -->
    % if header_language_selector_is_enabled():
        <% languages = released_languages() %>
        % if len(languages) > 1:
            <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
                <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
                % if user.is_authenticated:
                    <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
                % else:
                    <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
                % endif
                <label><span class="sr">${_("Choose Language")}</span>
                <select class="input select language-selector" id="settings-language-value" name="language">
                    % for language in languages:
                        % if language[0] == LANGUAGE_CODE:
                            <option value="${language[0]}" selected="selected">${language[1]}</option>
                        % else:
                            <option value="${language[0]}" >${language[1]}</option>
                        % endif
                    % endfor
                </select>
                </label>
            </form>
        % endif
    % endif


    % if show_dashboard_tabs:
    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link" href="/about">${_("About Us")}</a>
      </div>
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('courses')}">
          ${_("Courses")}
        </a>
      </div>
    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="/schools" data-hover-label='${_("Participating Institutions")}'>
          ${_("Participating Institutions")}
        </a>
      </div>
    % if LANGUAGE_CODE != 'en':
    <li class=" mobile-nav-item hidden-mobile nav-item nav-tab nav-item-dropdown item nav-global-04"><a href="#" class="comm_a" data-hover-label='${_("Community")}'><span class="effect_label">${_("Community")}</span></a>
        <ul class="dropdown-menu" style="width: 200px;">
            <li id="menu1"><a href="/comm_list/N" >공지사항</a></li>
            <li id="menu2"><a href="/comm_list/K">K-MOOC 뉴스</a></li>
            <li id="menu3"><a href="/comm_list/R">자료실</a></li>
            <li id="menu4"><a href="/comm_tabs/kmooc_f/">FAQ</a></li>
        </ul>
    </li>
    %endif
      <!--
      % if show_program_listing:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}">
            ${_("Programs")}
          </a>
        </div>
      % endif
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="${reverse('learner_profile', args=[self.real_user.username])}">
          ${_("Profile")}
        </a>
      </div>
      -->



    % endif
    % if show_explore_courses:
    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link" href="/about">${_("About Us")}</a>
    </div>

    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('courses')}">
          ${_("Courses")}
        </a>
    </div>

    <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="/schools" data-hover-label='${_("Participating Institutions")}'>
          ${_("Participating Institutions")}
        </a>
    </div>
    % if LANGUAGE_CODE != 'en':
    <li class=" mobile-nav-item hidden-mobile nav-item nav-tab nav-item-dropdown item nav-global-04"><a href="#" class="comm_a" data-hover-label='${_("Community")}'><span class="effect_label">${_("Community")}</span></a>
        <ul class="dropdown-menu" style="width: 200px;">
            <li id="menu1"><a href="/comm_list/N" >공지사항</a></li>
            <li id="menu2"><a href="/comm_list/K">K-MOOC 뉴스</a></li>
            <li id="menu3"><a href="/comm_list/R">자료실</a></li>
            <li id="menu4"><a href="/comm_tabs/kmooc_f/">FAQ</a></li>
        </ul>
    </li>
    %endif
        <!--
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="tab-nav-link" href="${marketing_link('COURSES')}">${_('Discover New')}</a>
      </div>
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="${reverse('learner_profile', args=[self.real_user.username])}">
          ${_("Profile")}
        </a>
      </div>
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}">
            ${_("Programs")}
          </a>
        </div>
        -->

    % endif
    % if show_sysadmin_dashboard:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        ## Translators: This is short for "System administration".
        <a class="tab-nav-link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
      </div>
    % endif
  </div>
  <div class="secondary">
    % if should_display_shopping_cart_func() and not (course and static.is_request_in_themed_site()): # see shoppingcart.context_processor.user_has_cart_context_processor
      <div class="mobile-nav-item hidden-mobile nav-item">
        <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
          <span class="icon fa fa-shopping-cart" aria-hidden="true"></span> ${_("Shopping Cart")}
        </a>
      </div>
    % endif
    <div class="mobile-nav-item hidden-mobile nav-item">
      <a class="help-link" href="${help_link}" target="_blank">${_("Help")}</a>
    </div>
    <%include file="user_dropdown.html"/>
  </div>
</div>

<script type="text/javascript">
    var window_W = 0;
    $(document).ready(function(){
        window_W = $(window).width();
	    nav_resize();
        $(".language a").click(function(){
            var href = $(this).attr("href");
            href = href + "?next="+document.location.pathname;
            $(this).attr("href", href);
        });

        $(".m-gnb").click(function () {
            console.log($("#gnb").is(':visible'));
            if(!$("#gnb").is(':visible')){
                $("#gnb").show();
            } else {
                if($(".nav-global-04 ul").is(':visible')){
                    $(".nav-global-04").trigger('click');
                }
                $("#gnb").hide();
            }

        });

    });
    function nav_resize() {
        window_W = $(window).width();
        if(window_W<=768) {
            //$('.nav-global-04').unbind('click mouseenter mouseleave hover');
            $(".nav-global-04").toggle(function () {
                $(".comm_a").children('span').removeAttr('style', 'color');
                $(this).find("ul").show();
            }, function (e) {
                var target = e.target;
                if(!target.className && target.tagName == 'A'){
                    $(".nav-global-04").off('click');
                    location.href = target.href;
                } else {
                    $(this).find("ul").hide();
                    $(".comm_a").children('span').css({'color': '#636363'});
                }

            });
        } else {
            $('.nav-global-04').hover(function() {
                $(this).children('ul').stop(true, false, true).slideToggle(500);
            });

            /*
            $('.nav-global-04').on('click', function() {
                var link_hover = $(this).children('a');
                $(this).children('.dropdown-menu').toggle(0, function(){
                    $(link_hover).blur();
                });
            });
            */
        }
    }
</script>